<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/favicon.ico">
    <title>Fetch</title>
    <link href="/static/litera.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b6e859a744.js" crossorigin="anonymous"></script>
  </head>
  <body class="text-center simple">
    <form class="form-info" method="post" action="/">
      <h1 class="h1 font-weight-normal">No Results Found</h1>
      <img class="mb-3" src="/static/terrier.png" alt="" width="300">
      <a class="btn btn-lg btn-primary" href="/"><i class="fas fa-arrow-left"></i> Back</a>
      <a class="btn btn-lg btn-danger" href="mailto:bryan@dea.gl?subject=Fetch Got No Results on {{ website }}"><i class="fas fa-bug"></i> Report</a>
    </form>
  </body>
</html>
